@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";

:root {
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}